{% extends "backend/authentication/auth_base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "/backend/js/authentication/sign_up-v2.js" %}"></script>
<script>
    $(document).ready(function () {
        signup.init();
    });
</script>
{% endblock %}

{% block content %}
<main class="form-signup w-100 m-auto">
    <form id="sign_up_form" class="needs-validation">
		<a href="https://narrateproject.eu/" target="_blank">
			<img id="imgNarrateLogo" src="{% static "/backend/assets/media/narrate.logo.dark.png" %}" class="img-fluid" style="max-width: 150px; margin-left: 50px;" alt="NARRATE" data-dark-src="{% static "/backend/assets/media/narrate.logo.dark.png" %}" data-light-src="{% static "/backend/assets/media/narrate.logo.light.png" %}" />
		</a>
		<a href="https://www.iky.gr/" target="_blank">
			<img id="imgFundingLogo" src="{% static "/backend/assets/media/erasmus-iky-bg.dark.png" %}" class="img-fluid mb-4" style="max-width: 160px; margin-left: 50px; margin-top: 5px;" alt="IKY" data-dark-src="{% static "/backend/assets/media/erasmus-iky-bg.dark.png" %}" data-light-src="{% static "/backend/assets/media/erasmus-iky-bg.light.png" %}" />
		</a>
        <h5 class="h5 mb-3 fw-normal">Fill in the following form to create an account</h5>
        <div class="row mb-2 form-group">
            <div class="col-12">
                <label class="form-label">Email<span style="color:red">&nbsp;*</span></label>
                <input id="email" name="email" class="form-control" type="email" required>
                <div class="invalid-feedback">Required field.</div>
            </div>
        </div>
        <div class="row mb-3 form-group">
            <div class="col-12">
                <label class="form-label">Password<span style="color:red">&nbsp;*</span></label>
                <span><small>(Use 8 or more characters)</small></span>
                <input id="password" name="password" class="form-control" type="password" required>
                <div class="invalid-feedback">Required field. Must be at least 8 characters.</div>
            </div>
        </div>
        <div class="row mb-3 form-group">
            <div class="col-12">
                <label class="form-label">Confirm Password<span style="color:red">&nbsp;*</span></label>
                <input id="confirm-password" name="confirm-password" class="form-control" type="password" required>
                <div class="invalid-feedback">Required field. Password and Confirm Password must be the same.</div>
            </div>
        </div>
        <div class="row mb-3 form-group">
            <div class="col-12">
                <label class="form-label">First Name<span style="color:red">&nbsp;*</span></label>
                <input id="first-name" name="first-name" class="form-control" required>
                <div class="invalid-feedback">Required field.</div>
            </div>
        </div>
        <div class="row mb-3 form-group">
            <div class="col-12">
                <label class="form-label">Last Name<span style="color:red">&nbsp;*</span></label>
                <input id="last-name" name="last-name" class="form-control" required>
                <div class="invalid-feedback">Required field.</div>
            </div>
        </div>
        <div class="row mb-3 form-group">
			<div class="col-12">
				<label class="form-label">Organization<span style="color:red">&nbsp;*</span></label>
				<select class="form-select" id="organization" name="organization" required>
					<option value="" selected></option>
					<option value="AUTH">AUTH</option>
					<option value="IHU">IHU</option>
					<option value="KMKD">KMKD</option>
					<option value="SUSKO">SUSKO</option>
                    <option value="Other / Not listed">Other / Not listed</option>
				</select>
				<div class="invalid-feedback">Required field.</div>
			</div>
		</div>
		<button id="sign_up_submit" class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
		<div class="row mb-3"></div>
		<div class="row mb-3">
            <div class="col-12">
				<p>Account not activated yet?&nbsp;<a href="/backend/activate_account/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Activate</a></p>
			</div>
			<div class="col-12">
				<p>Have an activated account?&nbsp;<a href="/backend/login/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign in</a></p>
			</div>
		</div>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023-2024 NARRATE Project</p>
    </form>	
</main>
{% endblock %}