{% extends "backend/base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
<link href="{% static "/backend/assets/css/dropzone.min.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "/backend/assets/js/dropzone.min.js" %}"></script>
<script src="{% static "/backend/js/profile-update-api-v2.js" %}"></script>
<script>
    $(document).ready(function () {
        UPDATE_PROFILE.init();
    });
</script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Profile Information</li>
{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Profile Information</h3>
    </div>
    {% with form_id="holder_update_profile_form" %}
    {% include "backend/profile_form.html" %}
    {% endwith %}
</div>
{% endblock %}